$smartphone: 500px;

// Mixin
@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.login {
  max-width: 380px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  .title {
    font-weight: 400;
  }
  img {
    width: 20px;
    height: 20px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;

    img {
      margin-left: 10px;
    }

    button {
      margin-bottom: 10px;
    }
  }
  .home {
    position: fixed;
    top: 5px;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    img {
      width: 25px;
      height: 25px;
    }
    z-index: 99999;
  }
  .error {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ff00008a;
    color: #ff0000;
    padding: 3px 10px;
    border-radius: 3px;
    font-weight: 600;
    z-index: 99;
  }
}
