$tablet: 850px;
$smartphone: 500px;
$iphoneX: 375px;
$primaryColor: #000000;
$secondaryColor: #ffffff;
$shadow: 0px 3px 5px rgba(124, 124, 124, 0.747);
.star {
  cursor: pointer;
  font-size: 25px;
  color: gray;
}