$tablet: 850px;
$smartphone: 600px;
$sub-color: grey;
$main-color: black;
$primaryColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.add-shipping-form {
  margin-top: 70px;
  width: 55vw;
  padding: 40px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: $secondaryColor;

  @include tablet() {
    width: 80vw;
  }

  @include smartphone() {
    width: 100%;
  }

  .form-input {
    background: transparent;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 10px 0;

    &:focus {
      outline: none;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }


  .country-drop,
  .region-drop {
    border: none;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid $primaryColor;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: grey;
  }

  .region-drop {
    margin-top: 20px;
  }

  h4 {
    span {
      text-decoration: underline;
      color: #1b1b1b;
      cursor: pointer;
    }
  }
}