$primaryColor: #000000;
$secondaryColor: #ffffff;

.footer {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 0;
  height: 10vh;
  color: $primaryColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .btn {
      min-width: 150px;
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      background-color: black;
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 5px;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
  .copyright {
    text-align: center;
    padding: 0 5%;

    a {
      color: #006eff;
      font-weight: 600;
    }
  }
}
