$primaryColor: #000000;
$secondaryColor: #ffffff;

.setup-account {
  background-color: $secondaryColor;
  color: $primaryColor;
  padding: 20px;
  .head {
    text-align: center;
    h4 {
      text-transform: uppercase;
      padding: 10px 0px;
      font-weight: 500;
    }
  }
  .form-input {
    background: none;
    background-color: transparent;
    color: darken($color: $secondaryColor, $amount: 70);
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    border: 1px solid darken($color: $secondaryColor, $amount: 50);
    margin: 20px 0;
    -webkit-appearance: textfield;
    appearance: textfield;
  }
  h3 {
    font-weight: 600;
    text-align: center;
  }
  .box {
    position: relative;
    display: inline-block;
    border: 1px solid darken($color: $secondaryColor, $amount: 50);
    // margin-bottom: 20px;
    // margin-bottom: 10px;

    select {
      position: relative;
      background-color: $secondaryColor;
      color: darken($color: $secondaryColor, $amount: 70);
      padding: 8px;
      width: 120px;
      border: none;
      font-size: 16px;
      outline: none;
      -webkit-appearance: button;
      appearance: button;
      outline: none;

      width: 238px;

      option {
        padding: 30px;
      }
    }

    .indc {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 100%;
      text-align: center;
      font-size: 25px;
      line-height: 45px;
      color: $primaryColor;
      pointer-events: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .group {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-input {
      width: 70% !important;
    }
    .btn {
      min-width: auto !important;
      width: 30% !important;
      font-size: 10px !important;
      padding: auto !important;
    }
  }
  .btn {
    min-width: 165px;
    width: auto;
    height: 45px;
    letter-spacing: 0.5px;
    line-height: 45px;
    padding: 0 35px;
    font-size: 12px;
    background-color: $primaryColor;
    color: $secondaryColor;
    text-transform: uppercase;
    font-weight: bolder;
    border: $secondaryColor;
    cursor: pointer;
    display: flex;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: transparent;
      color: $primaryColor;
      border: 1px solid $primaryColor;
    }
  }
  .complete {
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    right: 0;
  }
}
