@import url('https://fonts.googleapis.com/css?family=Monoton|Lora|Montserrat:300,400,500,600&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
p,
span {
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
span {
  font-size: 16px;
}
h1 {
  font-size: 3.1em;
  letter-spacing: 5px;
}
h2 {
  font-size: 2.4em;
  line-height: 1.1;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
  letter-spacing: 0.6px;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
a {
  font-size: 15px;
}
.App {
  display: flex;
  .wrapper {
    position: relative;
    margin: auto;
    padding-top: 70px;
    height: calc(100vh - 20px);
    width: 100%;
    max-width: 414px;
    background-color: white;
    // overflow-x: hidden;
  }
}
@keyframes animateSideNav {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-moz-keyframes animateSideNav {
  0% {
    opacity: 0;
    -moz-transform: translateX(-300px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-30px);
  }

  80% {
    -moz-transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
}

@-webkit-keyframes animateSideNav {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}
