.home {
  //   background-image: url('../../assets/home.gif');
  //   background-size: cover;
  height: 100%;
  max-width: 414px;
  .container {
    height: 70vh;
    overflow-y: hidden;
    padding: 0 20px;
    &:hover {
      overflow-y: scroll;
    }
    h1 {
      font-size: 16px;
      text-align: center;
    }
  }
  .landing {
  }
}
