.home {
  //   background-image: url('../../assets/home.gif');
  //   background-size: cover;
  height: 100%;
  width: 414px;
  .container {
    padding: 0 20px;
    height: 70vh;
    overflow: hidden;
    padding: 0 20px;
    &:hover {
      overflow-y: scroll;
    }
  }
  .landing {
  }
}
